# global patterns
*.[oa]
*~

# directories
debug/
release/
doxygen/

# file patterns
/Makefile*
/qthyena.pro.*
/callgrind.out*
/.kprof*
/.graphViz*

# files
/seed.txt
/error.txt
/fit.txt
/ui_qthyena.h
/qthyena
/gmon.out

