# global patterns
*.[oa]
*~

# directories
debug/
release/
doxygen/
prof/
RandomLib*/

# file patterns
/Makefile*
/qthyena.pro.*
/callgrind.out*
/.kprof*
/.graphViz*
/massif*
/video_*
/data_*
/moc_*
/*.gv
/*.aux
/*.log
/*.pdf
/*.gz
/*.backup
/ui_*
/*.so
/*.so.*

# files
/seed.txt
/error.txt
/fit.txt
/ui_qthyena.h
/qthyena
/gmon.out

